<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">
    <p>Заполните поля формы:</p>

    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="userFirstname" autocomplete='of'>
      <div *ngIf="form.controls.userFirstname.invalid && form.controls.userFirstname.touched" class="validation">
        <small *ngIf="form.controls.userFirstname.hasError('required')">
          Поле не может быть пустым
        </small>
      </div>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="userLastname">
      <div *ngIf="form.controls.userLastname.invalid && form.controls.userLastname.touched" class="validation">
        <small *ngIf="form.controls.userLastname.hasError('required')">
          Поле не может быть пустым
        </small>
      </div>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="userBirthday">
      <div *ngIf="form.controls.userBirthday.invalid && form.controls.userBirthday.touched" class="validation">
        <small *ngIf="form.controls.userBirthday.hasError('required')">
          Укажите дату
        </small>
      </div>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>JS технология</mat-label>
      <mat-select (selectionChange)='select()' formControlName='jsTechnology'>
        <mat-option value="angular">angular</mat-option>
        <mat-option value="react">react</mat-option>
        <mat-option value="vue">vue</mat-option>
      </mat-select>
      <div *ngIf="form.controls.jsTechnology.invalid && form.controls.jsTechnology.touched" class="validation">
        <small *ngIf="form.controls.jsTechnology.hasError('required')">
          Выполните выбор
        </small>
      </div>
    </mat-form-field>
    <br>

    <mat-form-field *ngIf='selectFilled' appearance="fill">
      <mat-label>Версия фреймворка</mat-label>
      <mat-select formControlName='version'>
        <mat-option *ngFor="let item of versionJSTech" [value]="item">{{ item }}</mat-option>
      </mat-select>
      <div *ngIf="form.controls.version.invalid && form.controls.version.touched" class="validation">
        <small *ngIf="form.controls.version.hasError('required')">
          Выполните выбор
        </small>
      </div>
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input matInput formControlName="userEmail" required>
      <div *ngIf="form.controls.userEmail.invalid && form.controls.userEmail.touched" class="validation">
        <small *ngIf="form.controls.userEmail.hasError('required')">
          Поле email не может быть пустым
        </small>
        <small *ngIf="form.controls.userEmail.hasError('email')">
          Введите корректный email
        </small>
        <small *ngIf="form.controls.userEmail.errors.uniqueEmail">
          Email {{form.controls.userEmail?.value}} занят
        </small>
      </div>
    </mat-form-field>
    <br>

    Ваши хобби: <br>
    <small *ngIf="hobbyFilled" class="validation">
      Укажите хотя бы одно хобби
    </small>
    <div formArrayName="hobbies" *ngFor="let hobby of getFormsControls().controls; let i=index;">
      <div [formGroupName]="i">

        <mat-form-field appearance="fill">
          <mat-label>Наименование хобби</mat-label>
          <input matInput formControlName="name" (input)='onChange()'>
        </mat-form-field>

        <span>|</span>

        <mat-form-field appearance="fill">
          <mat-label>Продолжительность</mat-label>
          <input matInput formControlName="duration" (input)='onChange()'>
        </mat-form-field>

        <button type="button" (click)="clear(i)"> &times;</button> <br>

      </div>
    </div>
    <div *ngIf="form.controls.hobbies.invalid && form.controls.hobbies.touched" class="validation">
      Заполните все поля
    </div>

    <button type="button" (click)="addHobbies()">Добавить хобби</button>
    <br>
    <input type="submit" [disabled]="form.invalid" value="Отправить">
  </div>
</form>